.container-fluid {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
main,  #base {
    display: flex;
    flex: 1;
}

#chat-messages {
  display: flex;
  flex: 1;
  max-height: 649px;
  margin: 0;
  background-color: var(--bs-body-bg);
}

#chat-display{
  height: 100vh;
}

.message {
  max-width: 50%;
  display: flex;
}
.message-text{
  height: auto; 
  width: auto; 
  max-height: 200px; 
  overflow: hidden;
  max-width: 300px;
}

.contact-message {
  background-color: var(--bs-primary-bg-subtle);
  align-self: self-start;
}

#contact-picture {
  height: 50px;
  width: 50px;
}

.last-chat-message{
  max-width: 260px;
}
.message-text{
  overflow: hidden;
  max-height: 200px;
}

.user-message, .dropdown-toggle-message {
  background-color: var(--bs-success-bg-subtle);
  align-self: self-end;
}
.validation-error{
  font-size: 14px; 
  color: var(--bs-danger);
}
.exit-btn{
  color: var(--bs-danger);
}
.exit-btn:hover{
  background-color: var(--bs-danger);
}
.setting-icon{
  font-size: 25px;
}

#profile-pic img {
  width: 50px;
  height: 50px;
}

.chat-pic img, .contact-pic img {
  width: 45px;
  height: 45px;
}
.chat:hover, .contact:hover, .chat:hover button, .contact:hover button, .setting:hover{
  background-color: var(--bs-secondary-bg);
}

.action:hover{
  background-color: var(--bs-tertiary-color);
}

.delete-action:hover{
  background-color: var(--bs-danger);
}

.dropdown-toggle{
  background-color: var(--bs-body-bg);
}

.filter-selector{
  background-color: var(--bs-dark-bg-subtle);
}

.filter-selector-active{
  background-color: var(--bs-themed-success-rgb);
}
.filter-selector-active:hover{
  background-color: var(--bs-success);
  color: black;
}

@keyframes show_dropdown {
  from {
    opacity: 0;
    width: 0px;
    height: 0px;
  };
  to {
    opacity: 1;
    width: auto;
    height: auto;
  };
}

@keyframes show_me {
  /**
  Cool animation for showing
  lists and it's elements
  **/
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
  
}

.animated-list{
  animation-name: show_me;
  animation-duration: 1s;
  animation-play-state: paused;
}

.animated-dropdown {
  animation-name: show_dropdown;
  animation-duration: 0.4s;
  animation-play-state: paused;
}

.scroll-section::-webkit-scrollbar{
  width: 8px;
  height: 8px;
}

.scroll-section::-webkit-scrollbar-thumb{
  border-radius: 20px;
  background: var(--bs-secondary-bg);
}

.text-status {
  align-items: center;
  justify-content: center;
  color: white;
  background-color: aquamarine;
  height: 262px;
  width: 466px;
}

.carousel-status {
  width: 100%;
  position: absolute;
  bottom: 1.25rem;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  color: #fff;
  text-align: center;
  align-items: center;
  justify-content: center;
  background-color: black;
  opacity: 0.5;
}


.emoji-class-button {
  border-bottom: var(--bs-tertiary-color);
  color: var(--bs-tertiary-color);
}

.emoji-class-button:hover {
  border-bottom: var(--bs-success);
  color: var(--bs-success);
}
.emoji-class-active{
  border-bottom: var(--bs-success);
  color: var(--bs-success);
}

.centered{
  display: flex;
  justify-content: center;
  align-items: center;
}

/** HTMX ANIMATION**/
@keyframes fade-in {
  from { opacity: 0; }
}

@keyframes fade-out {
  to { opacity: 0; }
}

@keyframes slide-from-right {
  from { transform: translateX(90px); }
}

@keyframes slide-to-left {
  to { transform: translateX(-90px); }
}

.slide-it {
  view-transition-name: slide-it;
}

::view-transition-old(slide-it) {
  animation: 180ms cubic-bezier(0.4, 0, 1, 1) both fade-out,
  600ms cubic-bezier(0.4, 0, 0.2, 1) both slide-to-left;
}
::view-transition-new(slide-it) {
  animation: 420ms cubic-bezier(0, 0, 0.2, 1) 90ms both fade-in,
  600ms cubic-bezier(0.4, 0, 0.2, 1) both slide-from-right;
}

@keyframes slide-left{
  0%{transform:translateX(0)}
  100%{transform:translateX(-100px)}
}

@keyframes rotate-center{
  0%{transform:rotate(0)}
  100%{transform:rotate(360deg)}
}
@keyframes scale-up-center{ 
  0%{transform:scale(.5)} 
  100%{transform:scale(1)} 
}

@keyframes shake-horizontal{
  0%,100%{transform:translateX(0)}
  10%,30%,50%,70%{transform:translateX(-10px)}
  20%,40%,60%{transform:translateX(10px)}
  80%{transform:translateX(8px)}
  90%{transform:translateX(-8px)}
}

@keyframes vanish{
  0%{opacity: 1;}
  100%{opacity:0;}
}

.modal-content, .scale-up-center{
  animation:scale-up-center 0.4s; 
} 
.rotate-center, #view-status.htmx-request, #theme-toggler:active{
  animation:rotate-center 0.1s
}
.slide-left, .arrow.htmx-request{
  animation:slide-left 0.4s linear both
}

.shake-horizontal{
  animation:shake-horizontal 0.8s linear both;
  animation-play-state: running;
}

.vanish{
  animation:vanish 2s linear both;
  animation-play-state: paused;
} 

.important-icon{
  font-size: 20px;
}

/*Status styles*/
.status-wrapper {
  width: 100%;
  height: 90vh;
  position: relative;
  background-color: #000;
  overflow: hidden;
}

.carousel, 
.carousel-inner,
.carousel-item {
  height: 100%;
}

.status-content-wrapper {
  height: 100%;
  width: 100%;
  position: relative;
  background-color: #000;
}

.status-header {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0));
  padding: 12px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
}

.primary-status-header {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0));
  padding: 12px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
}

.progress-container {
  display: flex;
  gap: 4px;
  margin-bottom: 8px;
}

.status-progress {
  height: 3px;
  background: rgba(255, 255, 255, 0.3);
  flex: 1;
}

.status-progress-bar {
  height: 100%;
  background-color: #fff;
  width: 0;
}

.status-progress.viewed .status-progress-bar {
  animation-name: fill-progress-bar;
  animation-duration: 5s;
  width: 100%;
}


@keyframes fill-progress-bar{
  from{
    width: 0;
  }
  to{
    width: 100%;
  }
}
.status-content {
  height: 100vh;
  width: 100%;
  object-fit: contain;
}

#imagePreviewModal .modal-content img{
  width: 100%;
}

.status-content-wrapper img + .status-text-overlay {
  position: absolute;
  bottom: 60px;
  left: 0;
  right: 0;
  padding: 20px;
  z-index: 90;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0));
}

/* Text-only status styling */
.status-content-wrapper:not(:has(img)) .status-text-overlay {
  height: 75%;
  margin: 3rem !important;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* 32+ chars */
.status-content-wrapper:not(:has(img)) .status-large-text-overlay {
  height: 75%;
  margin: 3rem !important;
}

.status-text {
  color: #fff;
  font-size: 1.25rem;
  text-align: center;
  margin: 0;
  padding: 10px;
  font-weight: 500;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  overflow-wrap: break-word;
}

.avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}

.username {
  color: #fff;
  font-size: 14px;
  margin-bottom: 0;
}

.timestamp {
  color: #ccc;
  font-size: 12px;
}

.carousel-control-prev, .carousel-control-next {
  width: 50%;
  background: none;
  border: none;
  opacity: 0;
}

.carousel-item {
  transition: transform .3s ease-in-out;
  position: relative;
}

.status-actions {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 20px;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0));
  display: flex;
  align-items: center;
  gap: 10px;
}

.status-input {
  flex: 1;
  background: rgba(255, 255, 255, 0.1);
  border: none;
  border-radius: 20px;
  color: white;
  padding: 8px 15px;
  outline: none;
}

.status-input::placeholder {
  color: rgba(255, 255, 255, 0.7);
}