.container-fluid {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
main,  #base {
    display: flex;
    flex: 1;
}

#chat-messages {
  display: flex;
  flex: 1;
  max-height: 570px;
  margin: 0;
  background-color: var(--bs-body-bg);
}

.message {
  max-width: 50%;
  display: flex;
}

.contact-message {
  background-color: var(--bs-primary-bg-subtle);
  align-self: self-start;

}
.user-message {
  background-color: var(--bs-success-bg-subtle);
  align-self: self-end;
}

.chat:hover, .contact:hover, .chat:hover button, .contact:hover button{
  background-color: var(--bs-tertiary-bg);
}

.action:hover{
  background-color: var(--bs-tertiary-color);
}

.dropdown-toggle{
  background-color: var(--bs-body-bg);
  
  
}