.container-fluid {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
main,  #base {
    display: flex;
    flex: 1;
}

#chat-messages {
  display: flex;
  flex: 1;
  max-height: 649px;
  margin: 0;
  background-color: var(--bs-body-bg);
}

.message {
  max-width: 50%;
  display: flex;
}

.contact-message {
  background-color: var(--bs-primary-bg-subtle);
  align-self: self-start;
}

#contact-picture {
  height: 50px;
  width: 50px;
}

.last-chat-message{
  max-width: 260px;
}
.message-text{
  overflow: hidden;
  max-height: 200px;
}

.user-message, .dropdown-toggle-message {
  background-color: var(--bs-success-bg-subtle);
  align-self: self-end;
}
.validation-error{
  font-size: 14px; 
  color: var(--bs-danger);
}

.chat:hover, .contact:hover, .chat:hover button, .contact:hover button{
  background-color: var(--bs-secondary-bg);
}

.action:hover{
  background-color: var(--bs-tertiary-color);
}

.delete-action:hover{
  background-color: var(--bs-danger);
}

.dropdown-toggle{
  background-color: var(--bs-body-bg);
}

.filter-selector{
  background-color: var(--bs-dark-bg-subtle);
}

.filter-selector-active{
  background-color: var(--bs-themed-success-rgb);
}
.filter-selector-active:hover{
  background-color: var(--bs-success);
  color: black;
}

@keyframes show_dropdown {
  from {
    opacity: 0;
    width: 0px;
    height: 0px;
  };
  to {
    opacity: 1;
    width: auto;
    height: auto;
  };
}

@keyframes show_me {
  /**
  Cool animation for showing
  lists and it's elements
  **/
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
  
}

.animated-list{
  animation-name: show_me;
  animation-duration: 1s;
  animation-play-state: paused;
}

.animated-dropdown {
  animation-name: show_dropdown;
  animation-duration: 0.4s;
  animation-play-state: paused;
}

.scroll-section::-webkit-scrollbar{
  width: 8px;
  height: 8px;
}

.scroll-section::-webkit-scrollbar-thumb{
  border-radius: 20px;
  background: var(--bs-secondary-bg);
}

.text-status {
  align-items: center;
  justify-content: center;
  color: white;
  background-color: aquamarine;
  height: 262px;
  width: 466px;
}

.carousel-status {
  width: 100%;
  position: absolute;
  bottom: 1.25rem;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  color: #fff;
  text-align: center;
  align-items: center;
  justify-content: center;
  background-color: black;
  opacity: 0.5;
}


.emoji-class-button {
  border-bottom: var(--bs-tertiary-color);
  color: var(--bs-tertiary-color);
}

.emoji-class-button:hover {
  border-bottom: var(--bs-success);
  color: var(--bs-success);
}
.emoji-class-active{
  border-bottom: var(--bs-success);
  color: var(--bs-success);
}

.centered{
  display: flex;
  justify-content: center;
  align-items: center;
}

/** HTMX ANIMATION**/
@keyframes fade-in {
  from { opacity: 0; }
}

@keyframes fade-out {
  to { opacity: 0; }
}

@keyframes slide-from-right {
  from { transform: translateX(90px); }
}

@keyframes slide-to-left {
  to { transform: translateX(-90px); }
}

.slide-it {
  view-transition-name: slide-it;
}

::view-transition-old(slide-it) {
  animation: 180ms cubic-bezier(0.4, 0, 1, 1) both fade-out,
  600ms cubic-bezier(0.4, 0, 0.2, 1) both slide-to-left;
}
::view-transition-new(slide-it) {
  animation: 420ms cubic-bezier(0, 0, 0.2, 1) 90ms both fade-in,
  600ms cubic-bezier(0.4, 0, 0.2, 1) both slide-from-right;
}