[data-bs-theme="dark"] {
    --bs-body-color: var(--bs-dark-bg-subtle);
    --bs-body-color-rgb: #{to-rgb($black)};
    --bs-body-bg: #{$black};
    --bs-body-bg-rgb: #{to-rgb($black)};
    --bs-tertiary-bg: var(--bs-tertiary-bg);
    
    span, button, a, h1, form, label {
        color: white;
    }

    nav, footer, .message-date {
        background-color: var(--bs-body-color);
    }
    .dropdown-menu {
        background-color: var(--bs-body-color);
        color: var(--bs-body-color);
    }
  }