[data-bs-theme="dark"] {
    --primary-color: #0C0C0C;
    --bs-body-bg: var(--primary-color);
    --bs-body-bg-rgb: 12, 12, 12;
    --bs-themed-success-rgb: rgb(26, 161, 121);
    --bs-themed-success-darker-rgb: var(--bs-success-bg-subtle);
    --bs-heading-color: white;
    --bs-modal-bg: var(--bs-dark-bg-subtle);
    
    span, button, a, h1, h2, h3, h4, h5, h6, p, form, label {
        color: white;
    }

    nav, footer, .message-date {
        background-color: var(--bs-dark-bg-subtle)
    }
    .dropdown-menu {
        color: var(--bs-body-color);
    }
    .dropdown-menu li:hover, li .btn:hover{
        background-color: var(--bs-themed-success-rgb);
    }
    .btn:hover, .btn.show{
        color: white;
        background-color: var(--bs-secondary-bg);
        border-color: var(--bs-btn-hover-border-color);
    }
    .filter-selector:hover{
        background-color: var(--bs-secondary-bg);
        color: white;
    }
    .message-info{
        opacity: 50%;
    }
    .badge, .themed-button{
        background-color: var(--bs-themed-success-rgb);
    }
    .themed-text{
        color: var(--bs-themed-success-rgb);
    }
    .form-control{
        color: white;
    }
    .toast, .modal-content {
        --bs-toast-color: white;
    }
    .last-chat-message-date, .last-chat-message {
        color: var(--bs-tertiary-color);
    }
    .last-chat-message-unread {
        color: white;
    }
    .form-check-input:checked {
        background-color: var(--bs-themed-success-rgb);
        border-color: var(--bs-themed-success-rgb);
    }
}

[data-bs-theme="light"] {
    --bs-themed-success-rgb: rgb(26, 161, 121);
    --bs-themed-success-darker-rgb: var(--bs-success-bg-subtle);

    span, button, a, h1, p, form, label {
        color: black
    }
    nav, footer, .message-date {
        background-color: var(--bs-secondary-bg);
    }
    .bi-check2-all {
        color: var(--bs-dark);
        opacity: 50%;
    }
    .message-info{
        opacity: 50%;
    }
    .dropdown-item:hover{
        background-color: var(--bs-themed-success-rgb);
    }
    .filter-selector:hover{
        background-color: var(--bs-tertiary-color);
        color: black;
    }
    .btn:hover, .btn.show {
        color: black;
        background-color: var(--bs-tertiary-color);
    }
    .badge, .themed-button{
        background-color: var(--bs-themed-success-rgb);
    }
    .themed-text{
        color: var(--bs-themed-success-rgb);
    }
    .last-chat-message-date, .last-chat-message {
        color: var(--bs-tertiary-color);
    }
    .form-check-input:checked {
        background-color: var(--bs-themed-success-rgb);
        border-color: var(--bs-themed-success-rgb);
    }
}