[data-bs-theme="dark"] {
    --bs-body-color: var(--bs-dark-bg-subtle);
    --bs-body-color-rgb: #{to-rgb($black)};
    --bs-body-bg: #{$black};
    --bs-body-bg-rgb: #{to-rgb($black)};
    --bs-tertiary-bg: var(--bs-tertiary-bg);
    --bs-themed-success-rgb: rgb(26, 161, 121);
    --bs-themed-success-darker-rgb: var(--bs-success-bg-subtle);
    --bs-heading-color: white;
    
    span, button, a, h1, p, form, label {
        color: white;
    }

    nav, footer, .message-date {
        background-color: var(--bs-body-color);
    }
    .dropdown-menu {
        background-color: var(--bs-body-color);
        color: var(--bs-body-color);
    }
    .dropdown-menu li:hover{
        background-color: var(--bs-themed-success-rgb);
    }
    .btn:hover, .btn.show{
        color: white;
        background-color: var(--bs-secondary-bg);
        border-color: var(--bs-btn-hover-border-color);
    }
    .filter-selector:hover{
        background-color: var(--bs-secondary-bg);
        color: white;
    }
    .message-info{
        opacity: 50%;
    }
    .badge, .themed-button{
        background-color: var(--bs-themed-success-rgb);
    }
    .themed-text{
        color: var(--bs-themed-success-rgb);
    }
    .form-control{
        color: white;
    }
}

[data-bs-theme="light"] {

    --bs-themed-success-rgb: rgb(26, 161, 121);
    --bs-themed-success-darker-rgb: var(--bs-success-bg-subtle);


    span, button, a, h1, p, form, label {
        color: black
    }
    nav, footer, .message-date {
        background-color: var(--bs-secondary-bg);
    }
    .bi-check2-all {
        color: var(--bs-dark);
        opacity: 50%;
    }
    .message-info{
        opacity: 50%;
    }
    .dropdown-item:hover{
        background-color: var(--bs-themed-success-rgb);
    }
    .filter-selector:hover{
        background-color: var(--bs-tertiary-color);
        color: black;
    }
    .btn:hover, .btn.show {
        color: black;
        background-color: var(--bs-tertiary-color);
    }
    .badge, .themed-button{
        background-color: var(--bs-themed-success-rgb);
    }
    .themed-text{
        color: var(--bs-themed-success-rgb);
    }
}