{% extends "layouts/base.html" %}
{% block title %}Home{% endblock title %}
{% load static %}

{% block content %}
{% if request.user.is_authenticated %}
{% comment %} <h1>Hola {{ user }}</h1>
<a href="{% url 'exit' %}">log out</a> {% endcomment %}


<div class="card mt-3 mb-3" id="base">
  <div class="card-body">
    <div class="row">
        <div class="col-4 border border-black h-100" id="chats-and-more">
          <header class="row border d-flex align-items-center">
            <div class="col-4 border" id="profile-pic">Profile pic</div>
            <nav class="navbar col-8 border">
              content
            </nav>
          </header>
          <div class="row border d-flex align-items-center">
            content
          </div>
          <ul class="list-group list-group-flush overflow-y-scroll mh-75">
            <li class="list-group-item">e</li>
            <li class="list-group-item">e</li>
            <li class="list-group-item">e</li>
            <li class="list-group-item">e</li>
            <li class="list-group-item">e</li>
            <li class="list-group-item">e</li>
            <li class="list-group-item">e</li>
            <li class="list-group-item">e</li>
            <li class="list-group-item">e</li>
            <li class="list-group-item">e</li>
            <li class="list-group-item">e</li>
            <li class="list-group-item">e</li>
            <li class="list-group-item">e</li>
            <li class="list-group-item">e</li>
            <li class="list-group-item">e</li>
            <li class="list-group-item">e</li>
            <li class="list-group-item">e</li>
            <li class="list-group-item">e</li>
            <li class="list-group-item">e</li>
            <li class="list-group-item">e</li>
            <li class="list-group-item">e</li>
            <li class="list-group-item">e</li>
            <li class="list-group-item">e</li>
            <li class="list-group-item">e</li>
            <li class="list-group-item">e</li>
            <li class="list-group-item">e</li>
            <li class="list-group-item">e</li>
            <li class="list-group-item">e</li>
            <li class="list-group-item">e</li>
            <li class="list-group-item">e</li>
            <li class="list-group-item">e</li>
            <li class="list-group-item">e</li>
            <li class="list-group-item">e</li>
            <li class="list-group-item">e</li>
            <li class="list-group-item">e</li>
            <li class="list-group-item">e</li>
            <li class="list-group-item">e</li>
            <li class="list-group-item">e</li>
            <li class="list-group-item">e</li>
            <li class="list-group-item">e</li>

          </ul>
        </div>
        <div class="col-8 border border-black h-100" id="chat-diplay">

        </div>
    </div>
  </div>
</div>

{% else %}
<h1>Log in</h1>
<a href="{% url 'login' %}"></a>
{% endif %}



{% endblock content %}