{% extends "layouts/base.html" %}
{% block title %}Home{% endblock title %}
{% load static %}

{% block content %}
{% if request.user.is_authenticated %}
{% comment %} <h1>Hola {{ user }}</h1>
<a href="{% url 'exit' %}">log out</a> {% endcomment %}


<div class="card mt-3 mb-3" id="base">
  <div class="card-body w-100">
    <div class="row">
        <div class="col-4 border border-black p-0" id="chats-and-more">
          <header class="border d-flex align-items-center">
            <div class="col-4 border" id="profile-pic">Profile pic</div>
            <nav class="navbar col-8 border">
              content
            </nav>
          </header>
          <div class="border d-flex align-items-center">
            content
          </div>
          <ul class="list-group list-group-flush overflow-y-scroll" style="max-height: 640px;">
            <li class="list-group-item">e</li>
            <li class="list-group-item">e</li>
            <li class="list-group-item">e</li>
            <li class="list-group-item">e</li>
            <li class="list-group-item">e</li>
            <li class="list-group-item">e</li>
            <li class="list-group-item">e</li>
            <li class="list-group-item">e</li>
            <li class="list-group-item">e</li>
            <li class="list-group-item">e</li>
            <li class="list-group-item">e</li>
            <li class="list-group-item">e</li>
            <li class="list-group-item">e</li>
            <li class="list-group-item">e</li>
            <li class="list-group-item">e</li>
            <li class="list-group-item">e</li>
            <li class="list-group-item">e</li>
            <li class="list-group-item">e</li>
            <li class="list-group-item">e</li>
            <li class="list-group-item">e</li>
            <li class="list-group-item">e</li>
            <li class="list-group-item">e</li>
            <li class="list-group-item">e</li>
            <li class="list-group-item">e</li>
            <li class="list-group-item">e</li>
            <li class="list-group-item">e</li>
            <li class="list-group-item">e</li>
            <li class="list-group-item">e</li>
            <li class="list-group-item">e</li>
            <li class="list-group-item">e</li>
            <li class="list-group-item">e</li>
            <li class="list-group-item">e</li>
            <li class="list-group-item">e</li>
            <li class="list-group-item">e</li>
            <li class="list-group-item">e</li>
            <li class="list-group-item">e</li>
            <li class="list-group-item">e</li>
            <li class="list-group-item">e</li>
            <li class="list-group-item">e</li>
            <li class="list-group-item">e</li>
          </ul>
        </div>
        <div class="col-8 border border-black p-0" id="chat-diplay">
          <nav class="navbar bg-body-tertiary justify-content-between">
            <div class="d-flex align-items-center ms-3 col-6">
              <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRNBNdcMDNS2r9df1IWFVc8AY0QNtfNhEJv7fGS5TdhUWrlBqfGu1PCCn9lKpL-FqF9dWc&usqp=CAU" alt="" style="max-width: 50px;">
              <p class="my-auto">Contact name</p>
            </div>
              <i class="me-3 bi bi-three-dots-vertical"></i>
          </nav>

        </div>
    </div>
  </div>
</div>

{% else %}
<a href="{% url 'login' %}"><h1>Log in</h1></a>
{% endif %}



{% endblock content %}