{% extends "layouts/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% load filters %}

{% block title %}Home{% endblock title %}
{% block content %}

<div class="card mt-3 mb-3" id="base">
  <div class="card-body w-100 h-100">
    <div class="row h-100">
      {% comment "User chats and more" %}{% endcomment %}
      <div class="col-4 border border-black p-0 position-relative" id="chats-and-more">
        <nav class="navbar border d-flex align-items-center bg-body-tertiary">
          {% comment "user profile pic" %}{% endcomment %}
          <div class="col-4 border" id="profile-pic" data-user={{request.user.id}} data-username={{request.user.username}}>
            <img class="ms-3" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRNBNdcMDNS2r9df1IWFVc8AY0QNtfNhEJv7fGS5TdhUWrlBqfGu1PCCn9lKpL-FqF9dWc&usqp=CAU" alt="" style="max-width: 50px;" role="button">
          </div>
          {% comment "new chat and settings" %}{% endcomment %}
          <nav class="navbar d-flex justify-content-end col-8 borde">
            <button onclick="switch_theme()" id="theme-toggler" class="btn rounded-fill me-3 action"><span><i id="theme-icon"
              class="bi bi-moon-fill"></i></span></button>
              <button id="add-contact" class="action me-3 btn"  data-bs-toggle="modal" data-bs-target="#NewContact"><i class="bi bi-person-plus"></i></button>
              {% comment "Trigger new chat form modal" %}{% endcomment %}
            <button id="create-chat" class="action me-3 btn" type="button" data-bs-toggle="modal" data-bs-target="#NewChat"><span><i class="bi bi-chat-left-dots"></i></span></button>
            <button id="settings" class="action me-3 btn"><span><i class="bi bi-three-dots-vertical"></i></span></button>
          </nav>
        </nav>
        {% comment "archived chats" %}{% endcomment %}
        <div role="button" class="btn border d-flex align-items-center justify-content-between p-3">
          <div>
            <i class="bi bi-archive"></i>
            <span class="ms-3">Archived</span>
          </div>
          <div>
            {% comment "num of archived chats that have unread messages" %}{% endcomment %}
            <span class="badge bg-success">1</span>
          </div>
        </div>
        {% comment "chats list" %}{% endcomment %}
        <div id="chats">
          <ul id="chat-list" class="collapse list-group list-group-flush overflow-y-scroll" style="max-height: 615px;">
            {% for chat in chats %}
            <li onclick="console.log('CLICKED'); summon_chat(this);" class="list-group-item p-3  d-flex flex-inline align-items-center chat" role="button" data-chat={{chat.id}} data-contact={% exclude_user_tag chat.users.all request.user 'username' %} data-contact-phone={% exclude_user_tag chat.users.all request.user 'phone_number' %} data-messages='{{chat.message_set.all|to_list}}'>
              {% csrf_token %}
              {% comment "contact profile photo" %}{% endcomment %}
              <img class="ms-1" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRNBNdcMDNS2r9df1IWFVc8AY0QNtfNhEJv7fGS5TdhUWrlBqfGu1PCCn9lKpL-FqF9dWc&usqp=CAU" alt="" style="max-width: 45px;">
              <div class="d-flex flex-column ms-3 w-100">
                <div class="d-flex justify-content-between">
                  <span>{{ chat.users.all|exclude_user:request.user }}</span>
                  {% comment %} <span>{{ chat.profiles.all }}</span> {% endcomment %}
                  <span id="last-chat-message-date">Date</span>
                </div>
                {% comment "last message in the chat" %}{% endcomment %}
                <span id="last-chat-message">contact message</span>
              </div>
            </li>
            {% endfor %}
          </ul>
        </div>
    
        <ul id="contact-list" class="collapse list-group list-group-flush overflow-y-scroll" style="max-height: 615px;">
          {% for contact in contacts %}
          <li class="list-group-item p-3  d-flex flex-inline align-items-center contact" role="button" data-contact={{contact.id}} >
            {% csrf_token %}
            {% comment "contact profile photo" %}{% endcomment %}
            <img class="ms-1" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRNBNdcMDNS2r9df1IWFVc8AY0QNtfNhEJv7fGS5TdhUWrlBqfGu1PCCn9lKpL-FqF9dWc&usqp=CAU" alt="" style="max-width: 45px;">
            <div class="d-flex flex-column ms-3 w-100">
              <div class="d-flex justify-content-between">
                <span>{{ contact.name }}</span>
              </div>
            </div>
          </li>
          {% endfor %}
        </ul>
    
        <button class="collapse-switch btn btn-success position-absolute bottom-0 end-0 me-5 mb-3" data-bs-toggle="collapse" data-bs-target="#chat-list">
          <i class="bi bi-chat-right-dots-fill"></i>
        </button>
        <button class="collapse-switch btn btn-success position-absolute bottom-0 end-0 mb-3" data-bs-toggle="collapse" data-bs-target="#contact-list">
          <i class="bi bi-person-fill"></i>
        </button>
    </div>
        {% comment "selected chat" %}{% endcomment %}
        <div class="col-8 d-flex flex-column border border-black p-0" id="chat-display">
          <nav class="navbar bg-body-tertiary justify-content-between">
            <div class="d-flex align-items-center ms-3 col-6" role="button">
              {% comment "chat contact info" %}{% endcomment %}
              <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRNBNdcMDNS2r9df1IWFVc8AY0QNtfNhEJv7fGS5TdhUWrlBqfGu1PCCn9lKpL-FqF9dWc&usqp=CAU" alt="" style="max-width: 50px;">
              <p class="ms-3 my-auto" id="contact-name">Contact name</p>
            </div>
              {% comment "settings or details of contacts" %}{% endcomment %}
              <button class="btn rounded-fill action me-3"><i class="bi bi-three-dots-vertical"></i></button>
          </nav>
          {% comment "messages in the chat with the contact" %}{% endcomment %}
          <ul class="list-unstyled flex-column overflow-y-scroll" id="chat-messages">
            <li class="list-unstyled-item ms-3 mt-3 rounded message contact-message">
              <span class="p-2">Contact message</span>
            </li>
            <li class="list-unstyled-item ms-3 mt-3 rounded message contact-message">
              <span class="p-2">Contact message</span>
            </li>
            <li class="list-unstyled-item me-3 mt-3 rounded message user-message">
              <span class="p-2">User message</span>
            </li>
            <li class="list-unstyled-item me-3 mt-3 rounded message user-message">
              <span class="p-2">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quis ipsa provident placeat natus laudantium commodi aliquid sunt accusantium minima debitis beatae, veritatis non qui nobis perspiciatis dolores unde eaque nam!</span>
            </li>
            <li class="list-unstyled-item me-3 mt-3 rounded message user-message">
              <span class="p-2">
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quis ipsa provident placeat natus laudantium commodi aliquid sunt accusantium minima debitis beatae, veritatis non qui nobis perspiciatis dolores unde eaque nam!
              </span>
            </li>
          </ul>
          {% comment "send message" %}{% endcomment %}
          <footer class="d-flex flex-inline align-items-center bg-body-tertiary p-1">
            <h5 class="p-3" role="button"><i class="bi bi-emoji-smile"></i></h5>
            <h5 class="p-3" role="button"><i class="bi bi-plus"></i></h5>
            <input id="new-message" class="form-control" type="text" name="new-message">
            <h5 class="p-3" role="button"><i class="bi bi-send"></i></h5>
            <h5 class="p-3" role="button"><i class="bi bi-mic"></i></h5>
          </footer>
      
      </div>
    </div>
  </div>
</div>

{% comment "ToastNotification" %}{% endcomment %}
<div class="toast-container position-fixed bottom-0 end-0 p-3">
  <div id="liveToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="toast-header">
      <img src="..." class="rounded me-2" alt="...">
      <strong class="me-auto">Bootstrap</strong>
      <small>1s ago</small>
      <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
    <div class="toast-body">
      Hello, world! This is a toast message.
    </div>
  </div>
</div>




  <!-- New Chat Form Modal -->
  <div class="modal fade" id="NewChat" tabindex="-1" aria-labelledby="NewChatLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="NewChatLabel">Start new chat</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
        <form action="" id="chat-creation-form" hx-get="{% url 'get_chats' %}" hx-target="#chats" hx-trigger="submit delay:250ms">
          <ul id="new-chat-contact-select-inputs" class="list-group list-group-flush overflow-y-scroll" style="max-height: 615px;">
          {% for contact in contacts %}
            <li class="list-group-item p-3  d-flex flex-inline align-items-center contact" role="button" data-contact={{contact.id}} >
            <input type="checkbox" class="form-check-input" id={{ contact.phone_number }} data-contact-name={{contact.name}}>
            <label class="form-check-label ms-3" for={{ contact.phone_number }}>{{contact.name}}</label>
            </li>
          {% endfor %}
          </ul>
          <button type="submit" class="btn btn-success float-end mt-3" data-bs-dismiss="modal">Create chat</button>
          <button type="button" class="btn btn-secondary float-end mt-3 me-3" data-bs-dismiss="modal">Close</button>
          
        </form>
        </div>
        <div class="modal-footer">
        </div>
      </div>
    </div>
</div>



  <!-- New Contact Form Modal -->
<div class="modal fade" id="NewContact" tabindex="-1" aria-labelledby="NewContactLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="NewChatLabel">Add new contact</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          {% comment "" %}hx-get="{% url 'get_chats' %}" hx-target="#chats" hx-trigger="submit delay:2s"{% endcomment %}
        <form id="contact-creation-form">
          {% csrf_token %}
          {{ contact_form | crispy }}
          <button class="btn btn-success float-end" type="submit">Create contact</button>
        </form>
        </div>
        <div class="modal-footer">
        </div>
      </div>
    </div>
</div>

{% endblock content %}

{% block script %}
<script src="{% static 'theme.js' %}"></script>
{% endblock script %}