{% extends "layouts/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% load filters %}

{% block title %}Home{% endblock title %}
{% block content %}

<div id="base">
  <div class="w-100 h-100">
    <div class="row h-100">
      {% comment "User chats and more" %}{% endcomment %}
      {% include "layouts/partials/user-chats.html" %}
        {% comment "selected chat" %}{% endcomment %}
      <div class="col-8 d-flex flex-column border border-black p-0 slide-it" id="chat-display">
      </div>
    </div>
  </div>
</div>

{% comment "ToastNotification" %}{% endcomment %}
<div class="toast-container position-fixed bottom-0 end-0 p-3">
  <div id="liveToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="toast-header">
      <i class="bi bi-chat-dots-fill me-2" style="max-height: 20px; max-width: 20px"></i>
      <strong class="me-auto">Bootstrap</strong>
      <small>1s ago</small>
      <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
    <div class="toast-body">
      Hello, world! This is a toast message.
    </div>
  </div>
</div>
{% endblock content %}

{% block script %}
<script src="{% static 'websocket.js' %}" type="module"></script>
{% endblock script %}