{% load static %}
{% load filters %}
<nav class="d-flex align-items-center justify-content-between">
    <div class="row d-flex align-items-center p-3">
        <button class="arrow action btn col-auto ms-2" hx-get="{% url 'display_user_ui' %}" 
                hx-target="#chats-and-more">
                <i class="bi bi-arrow-left"></i></button>
        <span class="col-auto fs-5">Archived chats</span>
    </div>
</nav>

<div id="archived-chats" class="mt-4">
    <div class="my-3 ms-3" id="chats-filters">
        <button onclick="exchange_elements_class(document.getElementsByClassName('filter-selector-active').item(0),
         this, 'filter-selector-active', 'filter-selector');" 
         class="filter-selector-active btn rounded-pill fs-6"
         hx-get="{% url 'archived_chats' %}" hx-target="#chats-and-more">All</button>
      
        <button onclick="exchange_elements_class(document.getElementsByClassName('filter-selector-active').item(0),
         this, 'filter-selector-active', 'filter-selector');" 
         class="filter-selector btn rounded-pill fs-6"
         hx-get="{% url 'unread_archived_chats' %}" hx-target="#chat-list">Unread</button>
      
        <button onclick="exchange_elements_class(document.getElementsByClassName('filter-selector-active').item(0),
         this, 'filter-selector-active', 'filter-selector');" 
         class="filter-selector btn rounded-pill fs-6"
         hx-get="{% url 'groups' %}" hx-target="#chat-list">Groups</button>
    </div>
    {% include 'layouts/partials/components/chats.html' %}
</div>