{% load static %}
{% load filters %}



<nav class="d-flex align-items-center justify-content-between bg-body-tertiary">
    <div class="row d-flex align-items-center p-3">
        <button class="action btn col-auto ms-2" hx-get="{% url 'display_user_ui' %}" hx-target="#chats-and-more"><i
                class="bi bi-arrow-left"></i></button>
        <span class="col-auto fs-5">Archived chats</span>
    </div>
</nav>

<div id="archived-chats" class="mt-4">
    {% include 'layouts/partials/components/chats.html' %}
</div>