{% load static %}
{% load filters %}
{% load crispy_forms_tags %}
<nav class="d-flex align-items-center justify-content-between">
    <div class="row d-flex align-items-center p-3">
        <button class="arrow action btn col-auto ms-2"hx-get="{% url 'display_user_ui' %}" 
                hx-target="#chats-and-more">
                <i class="bi bi-arrow-left"></i></button>
        <span class="col-auto fs-5">Chats Background <i class="bi bi-image"></i></span>
    </div>
</nav>

<div>
    <ul id="background-info" class="scroll-section list-group list-group-flush overflow-y-scroll p-3" 
    style="max-height: 615px;">
        <li class="list-group-item p-3 d-flex flex-column mb-3">
                <span class="themed-text">Image:</span>
                {% if chat_background.has_image %}
                <img class="img-fluid"  src="{{ chat_background.image.url }}" alt="Chats background couldn't load." 
                style="width: 500px; height: 325px;">
                {% endif %}
        </li>
        <li class="list-group-item d-flex flex-column mb-3">
            <span class="themed-text">Color:</span>
            <input type="color" disabled class="form-control form-control-color" 
            id="example-color-input" value="{{request.user.chatbackground.color}}"> 
        </li>
        <li class="list-group-item d-flex flex-column">
            <span class="themed-text">Preferred background:</span>
            <span>{{ chat_background.preferred_background }}</span>
        </li>

    </ul>
    <button class="btn m-3 d-flex themed-button" hx-get="{% url 'edit_chats_background' %}" hx-target="#chats-and-more">Edit</button>
</div>