{% load static %}
{% load filters %}

  <nav class="navbar bg-body-tertiary justify-content-between">
    <div class="d-flex align-items-center ms-3 col-6" role="button">
      {% comment "chat contact info" %}{% endcomment %}
      <img id="contact-picture" class="rounded-circle img-fluid" src="{% get_contact_in_chat chat.users.all request.user 'photo' %}" alt="" style="max-width: 50px;">
      <p class="ms-3 my-auto" id="contact-name">{% get_contact_in_chat chat.users.all request.user 'name' %}</p>
    </div>
      {% comment "settings or details of contacts" %}{% endcomment %}
      <button class="btn rounded-fill action me-3"><i class="bi bi-three-dots-vertical"></i></button>
  </nav>
  {% comment "messages in the chat with the contact" %}{% endcomment %}
  {% include 'layouts/partials/components/messages.html' %}

  {% comment "send message" %}{% endcomment %}
  <footer class="d-flex flex-inline align-items-center bg-body-tertiary p-1">
    <div class="btn-group dropup">
      <button class="btn p-3" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        <i class="bi bi-emoji-smile"></i>
      </button>
      <ul id="emojis-ui" class="dropdown-menu scroll-section overflow-y-scroll" style="min-height: 350px; max-height: 350px; min-width: 1000px;">
        <div class="d-flex flex-row align-items-center mb-3">
          <button id="emoji-class-active" class="btn emoji-class-button d-flex flex-fill justify-content-center p-1" data-emoji-pack="Smileys">Smileys 😃</button>
          <button class="btn emoji-class-button d-flex flex-fill justify-content-center p-1" data-emoji-pack="People">People 🙌</button>
          <button class="btn emoji-class-button d-flex flex-fill justify-content-center p-1" data-emoji-pack="Animals">Animals 🐻</button>
          <button class="btn emoji-class-button d-flex flex-fill justify-content-center p-1" data-emoji-pack="Food">Food 🍔</button>
          <button class="btn emoji-class-button d-flex flex-fill justify-content-center p-1" data-emoji-pack="Activity">Activity ⚽</button>
          <button class="btn emoji-class-button d-flex flex-fill justify-content-center p-1" data-emoji-pack="Travel and places">Travel and places 🚀</button>
          <button class="btn emoji-class-button d-flex flex-fill justify-content-center p-1" data-emoji-pack="Objects">Objects 💡</button>
          <button class="btn emoji-class-button d-flex flex-fill justify-content-center p-1" data-emoji-pack="Symbols">Symbols 💕</button>
          <button class="btn emoji-class-button d-flex flex-fill justify-content-center p-1" data-emoji-pack="Flags">Flags 🎌</button>
        </div>
  
      </ul>
    </div>
    <label for="imageInput" class="custom-file-input">
      <h5 class="p-3" role="button"><i class="bi bi-plus"></i></h5>
    </label>
    <input type="file" id="imageInput" name="image" accept="image/*" style="display: none;">
    <div class="d-flex flex-column w-100">
      <div id="imagePreview" class="d-flex align-items-center justify-content-center"></div>
      <input id="new-message" class="form-control" type="text" name="new-message">
    </div>
    <h5 id="send-message-button" class="p-3" role="button"><i class="bi bi-send"></i></h5>
    <h5 class="p-3" role="button"><i class="bi bi-mic"></i></h5>
  </footer>


