{% load static %}
{% load filters %}

<nav class="navbar justify-content-between" id="displayed-chat-info" data-displayed-chat="{{chat.id}}">
  <div class="d-flex align-items-center ms-3 col-6" role="button">
    {% comment "chat contact info" %}{% endcomment %}
    <img id="contact-picture" class="rounded-circle img-fluid"
      src="{% chat_desired_data chat request.user 'photo' %}" alt="Contact photo couldn't load.">
    <p class="ms-3 my-auto" id="contact-name" data-user-object-id="{% chat_desired_data chat request.user 'user-id' %}">{% chat_desired_data chat request.user 'name' %}</p>
  </div>
  {% comment "settings or details of contacts" %}{% endcomment %}
  <div class="d-flex align-items-center">
    <form class="d-flex me-3" role="search">
      <input id="message-searcher" class="form-control me-2" type="search" placeholder="Search message..." aria-label="Search" 
      onkeyup="filter_by_value(this.value, document.getElementById('chat-messages'))">
      <button class="btn themed-button" type="submit"><i class="bi bi-search"></i></button>
    </form>
    <button class="btn rounded-fill action me-3" data-bs-toggle="dropdown" aria-expanded="false"><i
        class="bi bi-three-dots-vertical"></i></button>
    <ul class="dropdown-menu">
      <li class="dropdown-item"><button class="btn">View Contact</button></li>
      <li class="dropdown-item"><button class="btn">Media, links and docs</button></li>
      <li class="dropdown-item"><button class="btn">Mute notifications</button></li>
      <li class="dropdown-item"><button class="btn">Disappearing messages</button></li>
      <li class="dropdown-item"><button class="btn">Wallpaper</button></li>
      <li class="dropdown-item"><button class="btn">More...</button></li>
    </ul>
  </div>
</nav>
{% comment "messages in the chat with the contact" %}{% endcomment %}
{% include 'layouts/partials/components/messages.html' %}

{% comment "send message" %}{% endcomment %}
<footer class="d-flex flex-inline align-items-center p-1">
  <div class="btn-group dropup">
    <button class="btn p-3" type="button" data-bs-toggle="dropdown" aria-expanded="false">
      <i class="bi bi-emoji-smile"></i>
    </button>
    <ul id="emojis-ui" class="dropdown-menu scroll-section overflow-y-scroll"
      style="min-height: 350px; max-height: 350px; min-width: 1000px;">
      <div class="d-flex flex-row align-items-center mb-3">
        <button onclick="event.stopPropagation(); switch_emojis(this);"
          class="btn emoji-class-button emoji-class-active d-flex flex-fill justify-content-center p-1"
          data-emoji-pack="smileys-emotion">Smileys emotion😃</button>
        <button onclick="event.stopPropagation(); switch_emojis(this);"
          class="btn emoji-class-button emoji-class-active d-flex flex-fill justify-content-center p-1"
          data-emoji-pack="people-body">People body 🙌</button>
        <button onclick="event.stopPropagation(); switch_emojis(this);"
          class="btn emoji-class-button emoji-class-active d-flex flex-fill justify-content-center p-1"
          data-emoji-pack="component">Component 👦</button>
        <button onclick="event.stopPropagation(); switch_emojis(this);"
          class="btn emoji-class-button d-flex flex-fill justify-content-center p-1"
          data-emoji-pack="animals-nature">Animals 🐻 and nature 🌲</button>
        <button onclick="event.stopPropagation(); switch_emojis(this);"
          class="btn emoji-class-button d-flex flex-fill justify-content-center p-1"
          data-emoji-pack="food-drink">Food and drink 🍔☕</button>
        <button onclick="event.stopPropagation(); switch_emojis(this);"
          class="btn emoji-class-button d-flex flex-fill justify-content-center p-1"
          data-emoji-pack="activities">Activities ⚽</button>
        <button onclick="event.stopPropagation(); switch_emojis(this);"
          class="btn emoji-class-button d-flex flex-fill justify-content-center p-1"
          data-emoji-pack="travel-places">Travel and places 🚀</button>
        <button onclick="event.stopPropagation(); switch_emojis(this);"
          class="btn emoji-class-button d-flex flex-fill justify-content-center p-1" data-emoji-pack="objects">Objects
          💡</button>
        <button onclick="event.stopPropagation(); switch_emojis(this);"
          class="btn emoji-class-button d-flex flex-fill justify-content-center p-1" data-emoji-pack="symbols">Symbols
          💕</button>
        <button onclick="event.stopPropagation(); switch_emojis(this);"
          class="btn emoji-class-button d-flex flex-fill justify-content-center p-1" data-emoji-pack="flags">Flags
          🎌</button>
      </div>

      <div id="emojis-container">
        <!-- ========== EMOJIS HERE ========== -->
      </div>

    </ul>
  </div>
  <label for="imageInput" class="custom-file-input">
    <button class="btn p-3" id="imageInputCaller"><i class="bi bi-plus"></i></button>
  </label>
  <input class="d-none form-control" type="file" id="imageInput" name="image" accept="image/*">
  <div class="d-flex flex-column w-100">
    <div class="border-start border-primary-subtle border-3 d-flex align-items-center justify-content-center" style="
    background-color: var(--bs-tertiary-bg);" id="reply-preview"></div>
    <div id="imagePreview" class="d-flex align-items-center justify-content-center"></div>
    <input id="new-message" class="form-control" type="text" name="new-message">
  </div>
  <button id="send-message-button" class="btn p-3"><i class="bi bi-send"></i></button>
  <button id="record-message-button" class="btn p-3"><i class="bi bi-mic"></i></button>
</footer>