{% load static %}
{% load filters %}

  <nav class="navbar bg-body-tertiary justify-content-between">
    <div class="d-flex align-items-center ms-3 col-6" role="button">
      {% comment "chat contact info" %}{% endcomment %}
      <img id="contact-picture" class="rounded-circle img-fluid" src="{% get_contact_in_chat chat.users.all request.user 'photo' %}" alt="" style="max-width: 50px;">
      <p class="ms-3 my-auto" id="contact-name">{% get_contact_in_chat chat.users.all request.user 'name' %}</p>
    </div>
      {% comment "settings or details of contacts" %}{% endcomment %}
      <button class="btn rounded-fill action me-3"><i class="bi bi-three-dots-vertical"></i></button>
  </nav>
  {% comment "messages in the chat with the contact" %}{% endcomment %}
  <ul class="scroll-section list-unstyled flex-column overflow-y-scroll" id="chat-messages">
    {% for message in messages %}
      {% if message.sender_user == request.user %}
        <li class="list-unstyled-item me-3 mt-3 rounded message user-message dropdown">
      {% else %}
        <li class="list-unstyled-item me-3 mt-3 rounded message contact-message dropdown">
      {% endif %}
          <div class="p-2" hx-target="this" hx-swap="outerHTML">
            {% if message.has_image %}
              <img class="mw-100 mh-100" src="{{message.image.url}}" alt="">
            {% else %}
              <img class="mw-100 mh-100" src="undefined" alt="">
            {% endif %}
            <span>{{message.text}}</span>
            <button class="btn btn-sm dropdown-toggle-message" type="button" data-bs-toggle="dropdown" aria-expanded="false">-</button>
            <ul class="dropdown-menu">
              <li><span class="dropdown-item edit-action" hx-get="{% url 'edit_message' message.id %}"><i class="bi bi-pencil-square"></i> Edit message</span></li>
              <li><span class="dropdown-item delete-action">Delete</span></li>
            </ul>
          </div>
        </li>
    {% endfor %}

  </ul>
  {% comment "send message" %}{% endcomment %}
  <footer class="d-flex flex-inline align-items-center bg-body-tertiary p-1">
    <h5 class="p-3" role="button"><i class="bi bi-emoji-smile"></i></h5>
    <label for="imageInput" class="custom-file-input">
      <h5 class="p-3" role="button"><i class="bi bi-plus"></i></h5>
    </label>
    <input type="file" id="imageInput" name="image" accept="image/*" style="display: none;">
    <div class="d-flex flex-column w-100">
      <div id="imagePreview" class="d-flex align-items-center justify-content-center"></div>
      <input id="new-message" class="form-control" type="text" name="new-message">
    </div>
    <h5 id="send-message-button" class="p-3" role="button"><i class="bi bi-send"></i></h5>
    <h5 class="p-3" role="button"><i class="bi bi-mic"></i></h5>
  </footer>
