{% load static %}
{% load filters %}
{% load crispy_forms_tags %}

<nav class="d-flex align-items-center justify-content-between">
  <div class="row d-flex align-items-center p-3">
    <button class="arrow action btn col-auto ms-2" hx-get="{% url 'display_user_ui' %}" hx-target="#chats-and-more"><i
        class="bi bi-arrow-left"></i></button>
    <span class="col-auto fs-5">Status</span>
  </div>
</nav>


{% comment "My status" %}{% endcomment %}
<div
  onclick="show_modal(document.querySelector(`#user-status-modal{{ request.user.id }}`)); init_status_carousel(document.querySelector('#UserStatusesCarousel'))"
  id="user-status-caller" class="contact mt-3 d-flex flex-row" role="button" type="button" data-bs-toggle="modal"
  data-bs-target="#user-status-modal{{ request.user.id }}">
  <div class="p-2" id="profile-pic" data-user={{request.user.id}} data-username={{request.user.username}}>
    {% if request.user.has_photo %}
    <img class="ms-3 rounded-circle img-fluid" src="{{request.user.photo.url}}" alt="User photo couldn't load" style="max-width: 50px;"
      role="button">
    {% else %}
    <img class="ms-3 rounded-circle img-fluid"
      src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRNBNdcMDNS2r9df1IWFVc8AY0QNtfNhEJv7fGS5TdhUWrlBqfGu1PCCn9lKpL-FqF9dWc&usqp=CAU"
      alt="Default profile photo couldn't load" style="max-width: 50px;" role="button">
    {% endif %}
  </div>
  <div class="d-flex justify-content-between w-75">
    <div class="d-flex flex-column ms-3 w-100">
      <span class="col-auto fs-6 mt-2">My status</span>
      {% if user_statuses|length >= 1 %}
        <span class="col-auto fs-6">{{ user_statuses|latest_data:"upload_date"|timesince }} ago</span>
      {% else %}
        <span class="col-auto fs-6">No updates</span>
      {% endif %}
    </div>
    <button class="btn action" type="button" data-bs-toggle="modal" data-bs-target="#CreateStatusModal"><span
        class="fs-4"><i class="bi bi-patch-plus"></i></span></button>
  </div>
</div>



<div class="modal fade status-modal" id="user-status-modal{{ request.user.id }}" data-bs-backdrop="static"
  data-bs-keyboard="false" tabindex="-1" aria-labelledby="status-modal{{ request.user.id }}Label" aria-hidden="true"
  status>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
        {% include "layouts/partials/components/user-statuses.html" %}
    </div>
  </div>
</div>



<ul id="contact-statuses-list" class="scroll-section list-group list-group-flush overflow-y-scroll mt-3"
  style="max-height: 459px;">
  {% for contact, statuses in contacts_with_statuses.items %}
    {% if statuses|length >= 1 %}
    <li class="list-group-item p-3  d-flex flex-inline align-items-center contact contact-pic" role="button"
      data-contact="{{contact.id}}">
      {% comment "status profile photo" %}{% endcomment %}
      <img
        onclick="show_modal(document.querySelector(`#status-modal{{ contact.id }}`)); init_status_carousel(document.querySelector(`#contact{{contact.id}}status`));"
        class="ms-1 rounded-circle img-fluid contact-status-caller" src="{% get_contact_photo contact.phone_number %}"
        alt="Profile photo couldn't load." data-contact="{{contact.id}}" type="button" data-bs-toggle="modal"
        data-bs-target="#status-modal{{ contact.id }}">
      <div class="d-flex flex-column ms-3 w-100">
        <div class="d-flex justify-content-between">
          <div class="d-flex flex-column">
            <span>{{ contact.name }}</span>
            <span>{{ statuses|latest_data:"upload_date"|timesince }} ago</span>
          </div>
          <button class="btn" hx-patch="{% url 'mute_contact_statuses' contact.id 'True' %}"
          hx-target="#chats-and-more" hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'><i
            class="bi bi-volume-mute"></i></button>
        </div>
      </div>
    </li>

    <!--Status Modal -->
    <div class="modal fade contact-status-modal status-modal" id="status-modal{{ contact.id }}" data-bs-backdrop="static"
      data-bs-keyboard="false" tabindex="-1" aria-labelledby="status-modal{{ contact.id }}Label" aria-hidden="true"
      status>
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          {% include "layouts/partials/components/contact-statuses.html" %}
        </div>
      </div>
    </div>
    {% endif %}
  {% empty %}
  <li class="d-flex align-items-center justify-content-center"><span>No statuses.</span></li>
  {% endfor %}

  <li class="p-3 d-flex flex-inline align-items-center justify-content-between">
    <span class="themed-text">MUTED STATUSES</span>
    <button id="show-muted-statuses" class="btn themed-text">Show</button>
    <script>
      toggle_muted_statuses_button = document.getElementById("show-muted-statuses")
      muted_contacts_statuses = document.getElementById("muted-statuses-contact-list")
      toggle_muted_statuses_button.onclick = function () {
        toggle_element_inner_text(this, 'Show', 'Hide')
        toggle_element_display(muted_contacts_statuses)
      }
    </script>
  </li>
  {% include 'layouts/partials/muted_statuses.html' %}
</ul>
</ul>