{% load static %}
{% load filters %}
<nav class="d-flex align-items-center justify-content-between">
    <div class="row d-flex align-items-center p-3">
        <button class="arrow action btn col-auto ms-2" hx-get="{% url 'display_user_ui' %}" 
                hx-target="#chats-and-more">
                <i class="bi bi-arrow-left"></i></button>
        <span class="col-auto fs-5">Settings</span>
    </div>
</nav>

<div>
    <form class="d-flex m-3" role="search">
        <input id="settings-search" class="form-control mx-2" 
        type="search" placeholder="Search settings..." aria-label="Search" 
        oninput="filter_by_value(this.value, document.getElementById('settings-list'));">
        </input>
        <button class="btn themed-button" type="submit"><i class="bi bi-search"></i></button>
    </form>
    <ul id="settings-list" class="scroll-section list-group list-group-flush overflow-y-scroll" 
    style="max-height: 615px;">
        <li class="list-group-item p-3 d-flex flex-inline align-items-center setting" role="button" style="border: none;"
                hx-get="{% url 'user_info' %}" hx-target="#chats-and-more">
                {% if request.user.has_photo %}
                <img class="rounded-circle img-fluid"  src="{% static request.user.photo.url %}" alt="Profile photo couldn't load." 
                style="max-width: 82px;">
                {% else %}
                <img class="rounded-circle img-fluid"  src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRNBNdcMDNS2r9df1IWFVc8AY0QNtfNhEJv7fGS5TdhUWrlBqfGu1PCCn9lKpL-FqF9dWc&usqp=CAU"
                 alt="Default photo couldnt' load." style="max-width: 82px;">
                {% endif %}
                <span class="ms-3 d-flex flex-column">
                        <span>{{ request.user.username }}</span>
                        <!-- ========== User info ========== -->
                        <span>{{ request.user.about }}</span>
                </span>
        </li>
        <li class="list-group-item p-4 d-flex flex-inline align-items-center setting" role="button">
                <span class="me-3"><i class="bi bi-lock-fill important-icon"></i></span><span> Privacy</span></li>
        <li class="list-group-item p-4 d-flex flex-inline align-items-center setting" role="button">
                <span class="me-3"><i class="bi bi-chat-left-text-fill important-icon"></i></span><span> Chats</span></li>
        <li class="list-group-item p-4 d-flex flex-inline align-items-center setting" role="button">
                <span class="me-3"><i class="bi bi-bell-fill important-icon"></i></span><span> Notifications</span></li>
        <li class="list-group-item p-4 d-flex flex-inline align-items-center setting" role="button">
                <span class="me-3"><i class="bi bi-escape important-icon"></i><a style="text-decoration: none;" href="{% url 'exit' %}"> Log out</a></span></li>
    </ul>
</div>