{% load static %}
{% load filters %}
{% load crispy_forms_tags %}
<nav class="d-flex align-items-center justify-content-between">
    <div class="row d-flex align-items-center p-3">
        <button class="arrow action btn col-auto ms-2"hx-get="{% url 'display_user_ui' %}" 
                hx-target="#chats-and-more">
                <i class="bi bi-arrow-left"></i></button>
        <span class="col-auto fs-5">Profile</span>
    </div>
</nav>

<div>
    <ul id="user-info" class="scroll-section list-group list-group-flush overflow-y-scroll" 
    style="max-height: 615px;">
        <li class="list-group-item p-3 d-flex flex-inline align-items-center mx-auto mb-3" style="border: none;">
                {% if request.user.has_photo %}
                <img class="rounded-circle img-fluid"  src="{{ request.user.photo.url }}" alt="Profile photo couldn't load." 
                style="max-width: 200px; max-height: 200px; width: 200px; height: 200px;">
                {% else %}
                <img class="rounded-circle img-fluid"  src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRNBNdcMDNS2r9df1IWFVc8AY0QNtfNhEJv7fGS5TdhUWrlBqfGu1PCCn9lKpL-FqF9dWc&usqp=CAU"
                 alt="Default photo couldn't load." style="max-width: 200px; max-height: 200px; width: 200px; height: 200px;">
                {% endif %}
        </li>
        <li class="list-group-item p-1 d-flex flex-inline align-items-center" style="border: none;">
                <span class="ms-3 d-flex flex-column">
                        <span class="themed-text">Your username</span>
                        <span>{{ request.user.username }}</span>
                        <span class="themed-text">Your about</span>
                        <span>{{ request.user.about }}</span>
                </span>
        </li>
    </ul>
    <button class="btn m-3 d-flex themed-button" hx-get="{% url 'edit_user_info' %}" hx-target="#chats-and-more">Edit</button>
</div>