{% load static %}
{% load filters %}

<nav class="d-flex align-items-center justify-content-between bg-body-tertiary">
  {% comment "user profile pic" %}{% endcomment %}
  <div class="p-2" id="profile-pic" data-user={{request.user.id}} data-username={{request.user.username}}
    data-phone="{{request.user.phone_number}}">
    {% if request.user.has_photo %}
    <img class="ms-3 rounded-circle img-fluid" src="{{request.user.photo.url}}" alt="" style="max-width: 50px;"
      role="button">
    {% else %}
    <img class="ms-3 rounded-circle img-fluid"
      src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRNBNdcMDNS2r9df1IWFVc8AY0QNtfNhEJv7fGS5TdhUWrlBqfGu1PCCn9lKpL-FqF9dWc&usqp=CAU"
      alt="" style="max-width: 50px;" role="button">
    {% endif %}

  </div>
  {% comment "new chat and settings" %}{% endcomment %}
  <nav class="navbar">
    <button onclick="switch_theme()" id="theme-toggler" class="btn rounded-fill me-3 action"><span><i id="theme-icon"
          class="bi bi-moon-fill"></i></span></button>
    <button id="add-contact" class="action me-3 btn" title="Add contact" data-bs-toggle="modal"
      data-bs-target="#NewContact"><i class="bi bi-person-plus"></i></button>
    {% comment "Trigger new chat form modal" %}{% endcomment %}
    <button id="create-chat" class="action me-3 btn" title="Add chat" type="button" data-bs-toggle="modal"
      data-bs-target="#NewChat"><span><i class="bi bi-chat-left-dots"></i></span></button>
    <button id="view-status" class="action me-3 btn" title="Statuses" hx-get="{% url 'statuses' %}"
      hx-target="#chats-and-more"><i class="bi bi-plus-circle-dotted"></i></button>
    <div class="dropdown">
      <button id="settings" class="action me-3 btn" title="Settings" data-bs-toggle="dropdown"
        onclick="run_element_animation(this.nextElementSibling)"><span><i
            class="bi bi-three-dots-vertical"></i></span></button>
      <ul class="dropdown-menu animated-dropdown">
        <li><span class="dropdown-item">New group</span></li>
        <li><span class="dropdown-item">New community</span></li>
        <li><span class="dropdown-item">Starred messages</span></li>
        <li><span class="dropdown-item">Select chats</span></li>
        <li><span class="dropdown-item">Settings</span></li>
        <li><a class="dropdown-item" href="{% url 'exit' %}">Log out</a></li>
      </ul>
    </div>
  </nav>
</nav>
{% comment "archived chats" %}{% endcomment %}
<div role="button" type="button" class="btn border d-flex align-items-center justify-content-between p-3"
  hx-get="{% url 'archived_chats' %}" hx-trigger="click" hx-target="#chats-and-more">
  <div>
    <i class="bi bi-archive"></i>
    <span class="ms-3">Archived</span>
  </div>
  <div>
    {% comment "num of archived chats that have unread messages" %}{% endcomment %}
    <span class="badge bg-success">1</span>
  </div>
</div>
{% comment "tabs" %}Contacts and chats{% endcomment %}
<div id="chats-and-contacts" hx-get="{% url 'get_chats' %}" hx-target="this" hx-trigger="load" hx-swap="beforeend">
  <div class="my-3 ms-3" id="chats-filters">
    <button onclick="exchange_elements_class(document.getElementsByClassName('filter-selector-active').item(0),
     this, 'filter-selector-active', 'filter-selector');" 
     class="filter-selector-active btn rounded-pill fs-6"
     hx-get="{% url 'get_chats' %}" hx-target="#chat-list" hx-swap="outerHTML">All</button>
  
    <button onclick="exchange_elements_class(document.getElementsByClassName('filter-selector-active').item(0),
     this, 'filter-selector-active', 'filter-selector');" 
     class="filter-selector btn rounded-pill fs-6"
     hx-get="{% url 'unread_chats' %}" hx-target="#chat-list" hx-swap="outerHTML">Unread</button>
  
    <button onclick="exchange_elements_class(document.getElementsByClassName('filter-selector-active').item(0),
     this, 'filter-selector-active', 'filter-selector');" 
     class="filter-selector btn rounded-pill fs-6"
     hx-get="{% url 'groups' %}" hx-target="#chat-list" hx-swap="outerHTML">Groups</button>
  </div>
</div>

<button id="chats-collapse-toggle" class="collapse-switch btn btn-success position-absolute bottom-0 end-0 me-5 mb-3"
  title="My chats" hx-get="{% url 'get_chats' %}" hx-target="#chat-list" hx-swap="outerHTML">
  <i class="bi bi-chat-right-dots-fill"></i>
</button>
<button class="collapse-switch btn btn-success position-absolute bottom-0 end-0 mb-3" title="Contacts"
  hx-get="{% url 'get_contacts' %}" hx-target="#chat-list" hx-swap="innerHTML">
  <i class="bi bi-person-fill"></i>
</button>