{% load filters %}
{% load crispy_forms_tags %}

<div class="col-4 border border-black p-0 position-relative" id="chats-and-more">
  {% include "layouts/partials/user_interface.html" %}
</div>

<!-- New Chat Form Modal -->
<div class="modal fade" id="NewChat" tabindex="-1" aria-labelledby="NewChatLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="NewChatLabel">Start new chat</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form id="chat-creation-form" hx-get="{% url 'update_chat_form' %}" hx-target="this"
          hx-trigger="load, click from:#create-chat" data-creating="chat">
          {% include 'layouts/partials/chat_form_elements.html' %}
        </form>

      </div>
    </div>
  </div>
</div>



<!-- New Contact Form Modal -->
<div class="modal fade" id="NewContact" tabindex="-1" aria-labelledby="NewContactLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="NewChatLabel">Add new contact</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form id="contact-creation-form" hx-get="{% url 'get_contacts' %}" hx-target="#chats-and-contacts"
          hx-swap="innerHTML" hx-trigger="submit delay:250ms">
          <div id="contact-validation-message" class="validation-error"></div>
          {% csrf_token %}
          {{ contact_form | crispy }}
          <button class="btn themed-button float-end" type="submit">Create contact</button>
          <button type="button" class="btn btn-secondary float-end me-3" data-bs-dismiss="modal">Close</button>
        </form>
      </div>
    </div>
  </div>
</div>


<!--Status Modal Form -->
<div class="modal fade" id="CreateStatusModal" tabindex="-1" aria-labelledby="CreateStatusModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="CreateStatusModalLabel">Add Status</h1>
        <button onclick="hide_modal(document.querySelector(`#CreateStatusModal`))" 
        type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form id="status_form" enctype="multipart/form-data">
          <div id="status-validation-message" class="validation-error"></div>
          {% csrf_token %}
          {{ status_form|crispy }}
          <button id="status-submit" class="btn themed-button">Create status</button>
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
        </form>
      </div>
    </div>
  </div>
</div>

{% include "layouts/partials/components/message-image-preview.html" %}