{% load static %}
{% load filters %}

<nav class="d-flex align-items-center justify-content-between">
  {% comment "user profile pic" %}{% endcomment %}
  <div class="p-2" id="profile-pic" data-user={{request.user.id}} 
    data-username={{request.user.username}}
    data-phone="{{request.user.phone_number}}">
    {% if request.user.has_photo %}
    <img class="ms-3 rounded-circle img-fluid" 
    src="{{request.user.photo.url}}" alt="Profile photo couldn't load" 
    role="button">
    {% else %}
    <img class="ms-3 rounded-circle img-fluid"
      src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRNBNdcMDNS2r9df1IWFVc8AY0QNtfNhEJv7fGS5TdhUWrlBqfGu1PCCn9lKpL-FqF9dWc&usqp=CAU"
      alt="Profile photo couldn't load" role="button">
    {% endif %}

  </div>
  {% comment "new chat and settings" %}{% endcomment %}
  <nav class="navbar">
    <button onclick="switch_theme()" id="theme-toggler" class="btn rounded-fill me-3 action"><span><i id="theme-icon"
          class="bi bi-moon-fill"></i></span></button>
    <button id="add-contact" class="action me-3 btn" data-bs-toggle="modal"
      data-bs-target="#NewContact"><span><i class="bi bi-person-plus"  data-bs-toggle="tooltip" data-bs-title="Add contact"></i></span></button>
    {% comment "Trigger new chat form modal" %}{% endcomment %}
    <button id="create-chat" class="action me-3 btn" type="button" data-bs-toggle="modal"
      data-bs-target="#NewChat"><span><i class="bi bi-chat-left-dots" data-bs-toggle="tooltip" data-bs-title="Add chat"></i></span></button>
    <button id="view-status" class="action me-3 btn" hx-get="{% url 'statuses' %}"
      hx-target="#chats-and-more"><span><i class="bi bi-patch-plus" data-bs-toggle="tooltip" data-bs-title="Statuses"></i></span></button>
    <div class="dropdown">
      <button id="settings" class="action me-3 btn" data-bs-toggle="dropdown"
        onclick="run_element_animation(this.nextElementSibling)"><span><i
            class="bi bi-three-dots-vertical" data-bs-toggle="tooltip" data-bs-title="Settings"></i></span></button>
      <ul class="dropdown-menu animated-dropdown">
        <li><button class="dropdown-item">New group <i class="bi bi-plus-circle"></i></button></li>
        <li><button class="dropdown-item">New community <i class="bi bi-house-add"></i></button></li>
        <li><button class="dropdown-item" hx-get="{% url 'starred_messages' %}"
          hx-target="#chats-and-more">Starred messages <i class="bi bi-bookmark-star"></i></button></li>
        <li><button class="dropdown-item" hx-get="{% url 'chats_selection' %}"
          hx-target="#chat-list" hx-swap="outerHTML">Archive chats <i class="bi bi-person-circle"></i></button></li>
        <li><button class="dropdown-item" hx-get="{% url 'user_settings' %}" 
          hx-target="#chats-and-more">Settings <i class="bi bi-person-gear"></i></button></li>
        <li class="exit-btn"><a class="dropdown-item" href="{% url 'exit' %}">Log out <i class="bi bi-escape"></i></a></li>
      </ul>
    </div>
  </nav>
</nav>
{% comment "tabs" %}Contacts and chats{% endcomment %}
<div id="chats-and-contacts" hx-get="{% url 'chats' False %}" hx-target="this" hx-trigger="load" hx-swap="beforeend">
  {% comment "chat search" %}Contacts and chats{% endcomment %}
  <form class="d-flex m-3" role="search">
    <input id="chat-search" class="form-control me-2" type="search" placeholder="Search chat..." aria-label="Search" 
    oninput="filter_by_value(this.value, document.getElementById('chat-list'));" </input>
    <button class="btn themed-button" type="submit"><i class="bi bi-search"></i></button>
  </form>
  <div class="my-3 ms-3" id="chats-filters">
    <button onclick="exchange_elements_class(document.getElementsByClassName('filter-selector-active').item(0),
     this, 'filter-selector-active', 'filter-selector');" 
     class="filter-selector-active btn rounded-pill fs-6"
     hx-get="{% url 'chats' False %}" hx-target="#chat-list" hx-swap="outerHTML">All</button>
  
    <button onclick="exchange_elements_class(document.getElementsByClassName('filter-selector-active').item(0),
     this, 'filter-selector-active', 'filter-selector');" 
     class="filter-selector btn rounded-pill fs-6"
     hx-get="{% url 'unread_chats' False %}" hx-target="#chat-list" hx-swap="outerHTML">Unread</button>
  
    <button onclick="exchange_elements_class(document.getElementsByClassName('filter-selector-active').item(0),
     this, 'filter-selector-active', 'filter-selector');" 
     class="filter-selector btn rounded-pill fs-6"
     hx-get="{% url 'groups' False %}" hx-target="#chat-list" hx-swap="outerHTML">Groups</button>
  </div>
  {% comment "archived chats" %}{% endcomment %}
  <div role="button" type="button" class="btn border d-flex align-items-center justify-content-between p-3"
    hx-get="{% url 'chats' True %}" hx-target="#chats-and-more" hx-swap="innerHTML">
    <div>
      <span><i class="bi bi-archive"></i></span>
      <span class="ms-3">Archived</span>
    </div>
    <div>
      <!-- ========== num of archived chats that have unread messages ========== -->
      {% if archived_unread_chats_num >= 1 %}
        <span class="badge">{{ archived_unread_chats_num }}</span>
      {% endif %}
    </div>
  </div>
</div>
{% comment "Chat will appear down here" %}{% endcomment %}

<button id="chats-collapse-toggle" class="collapse-switch btn themed-button position-absolute bottom-0 end-0 me-5 mb-3"
data-bs-toggle="tooltip" data-bs-title="My chats" hx-get="{% url 'chats' False %}" hx-target="#chat-list" hx-swap="outerHTML">
  <i class="bi bi-chat-right-dots-fill"></i>
</button>
<button class="collapse-switch btn themed-button position-absolute bottom-0 end-0 mb-3" data-bs-toggle="tooltip" data-bs-title="Contacts"
  hx-get="{% url 'get_contacts' %}" hx-target="#chat-list" hx-swap="innerHTML">
  <i class="bi bi-person-fill"></i>
</button>