{% load static %}
{% load filters %}

<script type="text/javascript">
  clear_messages_dates();
</script>
{% for message in messages %}
<!-- ========== MESSAGE DATE  ========== -->
  {% with message_date=message.date|date:"D d M Y" %}
    <div id="message-{{message.id}}-date" class="message-date date-{{message_date|cut:' '}} d-flex justify-content-center rounded-pill bg-body-tertiary"
    style="width: fit-content; align-self: center;">
      
        {% with time_difference=message.date|timesince %}
            {% if 'day' in time_difference and 'week' not in time_difference %}
              {# Between 1 day and 1 week ago, display the day name #}
              <span class="p-2">{{ message.date|date:"l" }}</span>
            {% else %}
              {# More than a week ago, display the whole date #}
              <span class="p-2">{{ message_date }}</span>
            {% endif %}
        {% endwith %}
      
    </div>
    <script type="text/javascript">
      if(date_already_displayed('{{message_date}}')){
        console.log('DATE IS ALREADY DISPLAYED')
        const message_date_layer = document.getElementById(`message-{{message.id|cut:" "}}-date`)
        message_date_layer.remove()
      }
      else{
        add_message_date('{{message_date}}');
        console.log(document.querySelectorAll('.date-{{message_date|cut:" "}}'))
        // get the list with the same date and delete the last
      }
    </script>
  {% endwith %}

{% if message.sender_user == request.user %}
<li class="list-unstyled-item me-3 mt-3 rounded message user-message dropdown"
  oncontextmenu="showDropdown(event, 'customDropdown-{{message.id}}')"
  data-date="{{message.date|date:'c'}}">
  {% else %}
<li class="list-unstyled-item ms-3 mt-3 rounded message contact-message"
data-date="{{message.date|date:'c'}}">
  {% endif %}
  {% include "layouts/partials/components/message.html" %}
</li>
{% endfor %}