{% load static %}
{% load filters %}

{% for message in messages %}
<!-- ========== MESSAGE DATE  ========== -->
  {% with message_date=message.date|date:"D d M Y" %}
    <div id="message-{{message.id}}-date" class="message-date date-{{message_date|cut:' '}} d-flex justify-content-center rounded-pill"
    style="width: fit-content; align-self: center;">
      
        {% with time_difference=message.date|timesince %}
          {% with simplified_difference=time_difference|simplified_time_difference %}
              {% if simplified_difference == "Less than a day ago." %}
                <span class="p-2">Today</span>
              {% elif simplified_difference == "Just yesterday." %}
                <span class="p-2">Yesterday</span>
              {% elif simplified_difference == "Less than a week ago." %}
                {# Between 1 day and 1 week ago, display the day name #}
                <span class="p-2">{{ message.date|date:"l" }}</span>
              {% else %}
                {# More than a week ago, display the whole date #}
                <span class="p-2">{{ message_date }}</span>
              {% endif %}
          {% endwith %}
        {% endwith %}
      
    </div>
    <script type="text/javascript">
      if(date_already_displayed('{{message_date}}')){
        remove_duplicates(`date-{{message_date|cut:' '}}`)
      }
    </script>
  {% endwith %}

{% if message.sender_user == request.user %}
<li class="list-unstyled-item me-3 mt-3 rounded message user-message dropdown"
  oncontextmenu="showDropdown(event, 'customDropdown-{{message.id}}')"
  data-date="{{message.date|date:'c'}}">
{% else %}
<li class="list-unstyled-item ms-3 mt-3 rounded message contact-message"
data-date="{{message.date|date:'c'}}">
{% endif %}
  {% include "layouts/partials/components/message.html" %}
</li>
{% endfor %}