{% load filters %}
{% load static %}

<ul id="chat-list" class="scroll-section list-group list-group-flush overflow-y-scroll" style="max-height: 590px; height: 500px;">

  {% for chat in chats %}
  {% with are_archived=chat|archived_by_user_filter:request.user %}
  {% get_chat_users_data chat 'phone_number' as chat_members_phones %}
  <div style="display: none;" id="chat-{{chat.id}}-members-phones">{{ chat_members_phones|json_script }}</div>
  <li onclick="summon_chat(this, chat_websocket);" oncontextmenu="showDropdown(event, 'chat-dropdown{{chat.id}}')"
   hx-get="{% url 'display_chat' chat.id %}" hx-target="#chat-display"  
   hx-swap="innerHTML transition:true" id="chat-{{chat.id}}" 
   class="list-group-item p-3 d-flex flex-inline align-items-center chat chat-pic" 
   role="button" data-chat={{chat.id}} data-contact='{% get_chat_users_data chat 'username' %}'
   data-chat-members-phones-data-id="chat-{{chat.id}}-members-phones">
    {% comment "contact profile photo" %}{% endcomment %}
    <img class="ms-1 rounded-circle img-fluid" src="{% chat_desired_data chat request.user 'photo' %}" alt="Contact photo couldn't load">
    <div class="d-flex flex-column ms-3 w-100">
      <div class="d-flex justify-content-between">
        <span class="chat-name text-truncate" style="max-width: 210px;">{% chat_desired_data chat request.user 'name' %}</span>
        {% with chat_messages=chat.message_set.all %}
        {% with latest_message=chat_messages|last_message %}
          {% with time_difference=latest_message.date|timesince %}
              {% if latest_message.read or latest_message.sender_user == request.user %}
                <span class="last-chat-message-date">
              {% else %} 
                <span class="themed-text">
              {% endif %}
              
              {% if 'day' in time_difference and 'week' not in time_difference %}
                {# Between 1 day and 1 week ago, display the day name #}
                {{ latest_message.date|date:"l" }}</span>
              {% elif 'week' in time_difference or 'month' in time_difference %}
                {# More than a week ago, display the whole date #}
                {{ latest_message.date|date:"F j, Y" }}</span>
              {% else %}
                {# Less than a day ago, display the hour #}
                {{ latest_message.date|date:"h:i A" }}</span>
              {% endif %}
          {% endwith %}
        </div>
        {% comment "last message in the chat" %}{% endcomment %}
        <div class="d-flex justify-content-between">
            {% if latest_message.sender_user == request.user %}
              <span class="last-chat-message text-truncate">
                {% if latest_message.read %}
                  <i class="bi bi-check2-all text-info"></i>
                {% else %}
                  <i class="bi bi-check2-all"></i>
                {% endif %}
                {{ latest_message|message_text }}</span>
            {% else %}
              {% if latest_message.read %}
                <span class="last-chat-message text-truncate">{{ latest_message|message_text }}</span>
              {% else %}
                <span class="last-chat-message-unread text-truncate">{{ latest_message|message_text }}</span>
              {% endif %}
            {% endif %}
          
          <!-- ========== ESPACE TO PUT THE NUMBERS OF UNREAD MESSAGES ========== -->
            {% if not latest_message.read and latest_message.sender_user != request.user %}
              {% with unread_messages_counter=chat_messages|unread_messages_counter:request.user.id %}
                {% if unread_messages_counter > 0 %}
                  <span class="badge rounded-pill" id="chat-{{chat.id}}unread-counter">{{ chat_messages|unread_messages_counter:request.user.id }}</span>
                {% endif %}
              {% endwith %}
            {% endif %}
        {% endwith %}
        <ul id="chat-dropdown{{chat.id}}" class="dropdown-menu animated-dropdown">
          {% if are_archived %}
            <li onclick="event.stopPropagation();">
              <span class="dropdown-item edit-action" hx-patch="{% url 'archive_chat' chat.id False %}" 
                    hx-swap="innerHTML" hx-target="#chats-and-more" 
                    hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'><i class="bi bi-box-arrow-in-up"></i> Unarchive chat</span></li>
            {% if chat|user_is_admin:request.user %}
            <li onclick="event.stopPropagation();">
              <span class="dropdown-item edit-action" hx-delete="{% url 'delete_group' chat.id are_archived %}" 
                    hx-swap="innerHTML" hx-target="#chats-and-more" hx-confirm="Are you sure about deleting this group PERMANENTLY?"
                    hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'><i class="bi bi-trash"></i> Delete group</span></li>
            {% endif %}
            <li onclick="event.stopPropagation();">
              <span class="dropdown-item edit-action" hx-patch="{% url 'leave_group' chat.id are_archived %}" 
                    hx-swap="innerHTML" hx-target="#chats-and-more"  
                    hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'><i class="bi bi-escape"></i> Leave group</span></li>
          {% else %}
            <li onclick="event.stopPropagation();">
              <span class="dropdown-item edit-action" hx-patch="{% url 'archive_chat' chat.id True %}" 
                    hx-swap="outerHTML" hx-target="#chat-list" 
                    hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'><i class="bi bi-archive"></i> Archive chat</span></li>
            {% if chat|user_is_admin:request.user %}
            <li onclick="event.stopPropagation();">
              <span class="dropdown-item edit-action" hx-delete="{% url 'delete_group' chat.id are_archived %}" 
                    hx-swap="outerHTML" hx-target="#chat-list"  hx-confirm="Are you sure about deleting this group PERMANENTLY?"
                    hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'><i class="bi bi-trash"></i> Delete group</span></li>
            {% endif %}
            <li onclick="event.stopPropagation();">
              <span class="dropdown-item edit-action" hx-patch="{% url 'leave_group' chat.id are_archived %}" 
                    hx-swap="outerHTML" hx-target="#chat-list" 
                    hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'><i class="bi bi-escape"></i> Leave group</span></li>
          {% endif %}
     
        </ul>
      </div>
    </div>
  </li>
  {% endwith %}
  {% endwith %}
  {% endfor %}
</ul>