{% load filters %}
{% load static %}


<ul id="chat-list" class="collapse list-group list-group-flush overflow-y-scroll" style="max-height: 615px;">
    {% for chat in chats %}
    <li onclick="summon_chat(this)" class="list-group-item p-3  d-flex flex-inline align-items-center chat" role="button" data-chat={{chat.id}} data-contact={% exclude_user_tag chat.users.all request.user 'username' %} data-contact-phone={% exclude_user_tag chat.users.all request.user 'phone_number' %} data-messages='{{chat.message_set.all|to_list}}'>
      {% csrf_token %}
      {% comment "contact profile photo" %}{% endcomment %}
      <img class="ms-1" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRNBNdcMDNS2r9df1IWFVc8AY0QNtfNhEJv7fGS5TdhUWrlBqfGu1PCCn9lKpL-FqF9dWc&usqp=CAU" alt="" style="max-width: 45px;">
      <div class="d-flex flex-column ms-3 w-100">
        <div class="d-flex justify-content-between">
          <span>{{ chat.users.all|exclude_user:request.user }}</span>
          {% comment %} <span>{{ chat.profiles.all }}</span> {% endcomment %}
          <span id="last-chat-message-date">Date</span>
        </div>
        {% comment "last message in the chat" %}{% endcomment %}
        <span id="last-chat-message">contact message</span>
      </div>
    </li>
    {% endfor %}
  </ul>