<!-- ========== Inside modal content ========== -->
{% load static %}
{% load filters %}
<div class="status-wrapper">
    <!-- Status carousel -->
    <div id="contact{{contact.id}}status" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="primary-status-header">
                <!-- Progress bars -->
                <div class="progress-container">
                    {% for status in statuses %}
                        <div class="status-progress">
                            <div class="status-progress-bar"></div>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <!--Statuses-->
            {% for status in statuses %}
                {% if forloop.first %}
                    <div class="carousel-item active">
                        <!-- Header with progress and user info -->
                        <div class="status-header pb-2">
                            <!-- User info -->
                            <div class="d-flex align-items-center">
                                <button onclick="hide_modal(document.querySelector(`#status-modal{{ contact.id }}`))" type="button"
                                class="btn-close me-2" data-bs-dismiss="modal" aria-label="Close"></button>
                                <img class="avatar me-2" src="{% get_contact_photo contact.phone_number %}" alt="User pfp">
                                <div class="flex-grow-1">
                                    <p class="username">{{contact.name}}</p>
                                    <p class="timestamp">{{ status.upload_date|timesince }} ago</p>
                                </div>
                                <button onclick="delete_status(this)" type="button" class="btn delete-action mx-1 status-deletion"
                                data-status="{{status.id}}" data-creator="{{contact.id}}">
                                <i class="bi bi-trash"></i>
                                </button>
                            </div>
                        </div>
                        <div class="status-content-wrapper">
                            {% if status.has_image and status.has_text %}
                                <img src="{{status.image.url}}" alt="Status {{forloop.counter}}" class="status-content">
                                <div class="status-text-overlay">
                                    <p class="status-text">{{status.text}}</p>
                                </div>
                            {% elif status.has_image %}
                                <img src="{{status.image.url}}" alt="Status {{forloop.counter}}" class="status-content">
                            {% else %}
                                <div class="status-text-overlay">
                                    <p class="status-text">{{status.text}}</p>
                                </div>          
                            {% endif %}
                        </div>
                    </div>
                {% else %}
                    <div class="carousel-item">
                        <!-- Header with progress and user info -->
                        <div class="status-header pb-2">
                            <!-- User info -->
                            <div class="d-flex align-items-center">
                                <button onclick="hide_modal(document.querySelector(`#user-status-modal{{ contact.id }}`))" type="button"
                                class="btn-close me-2" data-bs-dismiss="modal" aria-label="Close"></button>
                                <img class="avatar me-2" src="{% get_contact_photo contact.phone_number %}" alt="User pfp">
                                <div class="flex-grow-1">
                                    <p class="username">{{contact.name}}</p>
                                    <p class="timestamp">{{ status.upload_date|timesince }} ago</p>
                                </div>
                                <button onclick="delete_status(this)" type="button" class="btn delete-action mx-1 status-deletion"
                                data-status="{{status.id}}" data-creator="{{contact.id}}">
                                <i class="bi bi-trash"></i>
                                </button>
                            </div>
                        </div>
                        <div class="status-content-wrapper">
                            {% if status.has_image and status.has_text %}
                                <img src="{{status.image.url}}" alt="Status {{forloop.counter}}" class="status-content">
                                <div class="status-text-overlay">
                                    <p class="status-text">{{status.text}}</p>
                                </div>
                            {% elif status.has_image %}
                                <img src="{{status.image.url}}" alt="Status {{forloop.counter}}" class="status-content">
                            {% else %}
                                <div class="status-text-overlay">
                                    <p class="status-text">{{status.text}}</p>
                                </div>          
                            {% endif %}
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>

        <!-- Touch areas for navigation -->
        <button class="carousel-control-prev" type="button" data-bs-target="#contact{{contact.id}}status" data-bs-slide="prev"></button>
        <button class="carousel-control-next" type="button" data-bs-target="#contact{{contact.id}}status" data-bs-slide="next"></button>
</div>
