{% load static %}


{% if message.sender_user == request.user %}
  <div class="p-2 mw-100" hx-target="this" hx-swap="outerHTML" onload="toggleReadMore(this, '{{message.id}}')">
    {% if message.has_image %}
      <img class="mw-100 mh-100 mb-3" src="{{message.image.url}}" alt="">
    {% endif %}
      <span id="text-{{message.id}}" class="d-block mw-100 read-more" style="height: auto; max-height: 200px; overflow: hidden;">{{message.text}}</span>
      <button class="btn btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false" style="background-color: var(--bs-success-bg-subtle); align-self: self-end;"></button>      
      <ul class="dropdown-menu">
        <li><span class="dropdown-item edit-action" hx-get="{% url 'edit_message' message.id %}"><i class="bi bi-pencil-square"></i> Edit message</span></li>
        <li><span class="dropdown-item delete-action delete-message" hx-delete="{% url 'delete_message' message.chat.id message.id %}" hx-target="#chat-messages" hx-swap="outerHTML" hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>Delete</span></li>
      </ul>
  </div>
{% else %}
  <div class="p-2">
    {% if message.has_image %}
      <img class="mw-100 mh-100 mb-3" src="{{message.image.url}}" alt="">
    {% endif %}
    <span class="message-text">{{message.text}}</span>
  </div>
{% endif %}


    <!-- Delete Message Form Modal -->
    <!-- <div class="modal fade" id="DeleteMessage{{message.id}}" tabindex="-1" aria-labelledby="DeleteMessageLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="DeleteMessageLabel">Delete message?</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
              <div class="user-message m-3 rounded message">
                  {% if message.has_image %}
                  <img class="mw-100 mh-100" src="{{message.image.url}}" alt="">
                {% else %}
                  <img class="mw-100 mh-100" src="undefined" alt="">
                {% endif %}
                <span class="p-3">{{message.text}}</span>
              </div>
              <div class="button-group d-flex justify-content-between">
                <button class="btn btn-success rounded-pill">Delete for everyone</button>
                <button class="btn btn-secondary rounded-pill">Delete for me</button>
              </div>
          </div>
        </div>
      </div>
    </div> -->
