{% load static %}
{% load filters %}

{% if message.sender_user == request.user %}
<div class="p-2 mw-100" hx-target="this" hx-swap="outerHTML">
  {% if message.has_image %}
  <img class="mw-100 mh-100 mb-3" src="{{message.image.url}}" alt="">
  {% endif %}
  {% only_emoji message.text as only_emojis %}
  {% if only_emojis %}
  <span id="text-{{message.id}}" class="d-block mw-100"
    style="height: auto; max-height: 200px; overflow: hidden; font-size: 30px;">{{message.text}}</span>
  {% else %}
  <span id="text-{{message.id}}" class="d-block mw-100"
    style="height: auto; max-height: 200px; overflow: hidden;">{{message.text}}</span>
  {% endif %}
  <script type="text/javascript">
    toggleReadMore('{{message.id}}')
  </script>
  <ul id="customDropdown-{{message.id}}" class="dropdown-menu animated-dropdown">
    <li><span class="dropdown-item edit-action" hx-get="{% url 'edit_message' message.id %}"><i
          class="bi bi-pencil-square"></i> Edit message</span></li>
    <li><span class="dropdown-item delete-action delete-message"
        hx-delete="{% url 'delete_message' message.chat.id message.id %}" hx-target="#chat-messages" hx-swap="outerHTML"
        hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>Delete</span></li>
  </ul>

</div>
{% else %}
<div class="p-2">
  {% if message.has_image %}
  <img class="mw-100 mh-100 mb-3" src="{{message.image.url}}" alt="">
  {% endif %}
  <span id="text-{{message.id}}" class="d-flex mw-100"
    style="height: auto; max-height: 200px; overflow: hidden;">{{message.text}}</span>
  <script type="text/javascript">
    toggleReadMore('{{message.id}}')
  </script>
</div>
{% endif %}
