{% load static %}


    <div class="p-2" hx-target="this" hx-swap="outerHTML">
      {% if message.has_image %}
        <img class="mw-100 mh-100" src="{{message.image.url}}" alt="">
      {% else %}
        <img class="mw-100 mh-100" src="undefined" alt="">
      {% endif %}
      <span>{{message.text}}</span>
      <button class="btn btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false" style="background-color: var(--bs-success-bg-subtle); align-self: self-end;"></button>      
      <ul class="dropdown-menu">
        <li><span class="dropdown-item edit-action" hx-get="{% url 'edit_message' message.id %}"><i class="bi bi-pencil-square"></i> Edit message</span></li>
        <li><span class="dropdown-item delete-action" type="button" data-bs-toggle="modal" data-bs-target="#DeleteMessage{{message.id}}">Delete</span></li>
      </ul>
    </div>

    <!-- Delete Message Form Modal -->
    <div class="modal fade" id="DeleteMessage{{message.id}}" tabindex="-1" aria-labelledby="DeleteMessageLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="DeleteMessageLabel">Delete message</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
              <div class="user-message me-3 mt-3 rounded message">
                  {% if message.has_image %}
                  <img class="mw-100 mh-100" src="{{message.image.url}}" alt="">
                {% else %}
                  <img class="mw-100 mh-100" src="undefined" alt="">
                {% endif %}
                <span class="p-3">{{message.text}}</span>
              </div>
          </div>
          <div class="modal-footer">
          </div>
        </div>
      </div>
    </div>
