<!-- ========== Inside modal content ========== -->
{% load static %}
{% load filters %}
<div class="status-container">
    <!-- Status carousel -->
    <div id="contact{{contact.id}}status" class="carousel slide" data-bs-interval="false">
        <div class="carousel-inner">
            <!--Statuses-->
            {% for status in statuses %}
                <div class="status-container carousel-item">
                    {% if status.has_image and status.has_text %}
                        <img src="{{status.image.url}}" alt="Status {{forloop.counter}}" class="status-content">
                        <div class="status-text-overlay">
                            <p class="status-text">{{status.text}}</p>
                        </div>
                    {% elif status.has_image %}
                        <img src="{{status.image.url}}" alt="Status {{forloop.counter}}" class="status-content">
                    {% else %}
                        <div class="status-text-overlay">
                            <p class="status-text">{{status.text}}</p>
                        </div>          
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    </div>

    <!-- Header with progress and user info -->
    <div class="status-header">
        <!-- Progress bars -->
        <div class="progress-container">
            {% for status in statuses %}
                    <div class="status-progress">
                        <div class="status-progress-bar"></div>
                    </div>  
            {% endfor %}
                    
        </div>
        
        <!-- User info -->
        <div class="d-flex align-items-center">
            <button class="btn text-white me-2">
                <i class="bi bi-arrow-left"></i>
            </button>
            <img class="avatar me-2" src="{% get_contact_photo request.user.phone_number %}" alt="User pfp">
            <div class="flex-grow-1">
                <p class="username">{{request.user.username}}</p>
                <p class="timestamp">{{ user_statuses|latest_data:"upload_date"|timesince }} ago</p>
            </div>
            <button class="btn text-white">
                <i class="bi bi-three-dots-vertical"></i>
            </button>
        </div>
    </div>

    <!-- Reply input area -->
    <div class="status-actions">
        <input type="text" class="status-input" placeholder="Reply to status...">
        <button class="btn text-white">
            <i class="bi bi-arrow-up-circle-fill"></i>
        </button>
    </div>

    <!-- Touch areas for navigation -->
    <button class="carousel-control-prev" type="button" data-bs-target="#statusCarousel" data-bs-slide="prev"></button>
    <button class="carousel-control-next" type="button" data-bs-target="#statusCarousel" data-bs-slide="next"></button>
</div>
