<div class="modal-header">
    <h1 class="modal-title fs-5" id="status-modal{{ status.id }}Label">Status</h1>
    <button onclick="hide_modal(document.querySelector(`#status-modal{{ contact.id }}`))" type="button"
      class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
  </div>
  <div class="modal-body">
    <!-- ========== Status Carousel========== -->
    <div id="contact{{contact.id}}status" class="carousel slide contact-status" data-bs-ride="carousel">
      <div class="carousel-indicators">
        {% for status in statuses %}
        {% if forloop.first %}
        <button type="button" data-bs-target="#contact{{contact.id}}status"
          data-bs-slide-to="{{forloop.counter0}}" class="active" aria-current="true"
          aria-label="Slide {{forloop.counter}}"></button>
        {% else %}
        <button type="button" data-bs-target="#contact{{contact.id}}status"
          data-bs-slide-to="{{forloop.counter0}}" aria-label="Slide {{forloop.counter}}"></button>
        {% endif %}
        {% endfor %}
      </div>
      <div class="carousel-inner">
        {% for status in statuses %}
        {% if forloop.first %}
        <div class="carousel-item active">
          {% else %}
          <div class="carousel-item">
            {% endif %}
            {% if status.has_image and status.has_text is True %}
            <img src="{{status.image.url}}" class="d-block w-100" alt="Status image couldn't load">
            <div class="carousel-status d-none d-md-flex">
              <p>{{status.text}}</p>
            </div>
            {% elif status.has_image %}
            <img src="{{status.image.url}}" class="d-block w-100" alt="Status image couldn't load">
            {% else %}
            <div class="text-status d-none d-md-flex">
              <p>{{status.text}}</p>
            </div>
            {% endif %}
          </div>
          {% endfor %}

          <button class="carousel-control-prev" type="button" data-bs-target="#contact{{contact.id}}status"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#contact{{contact.id}}status"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>
    </div>
  </div>