{% extends "layouts/base.html" %}
{% load crispy_forms_tags %}
{% block title %}Register{% endblock title %}

{% block content %}

<form class="mx-auto my-auto" action="" method="POST">
  {% csrf_token %}
    <div class="card mx-auto" style="width: 30rem;">
        <div class="card-body">
          <h5 class="card-title">Register</h5>
          <h6 class="card-subtitle mb-2 text-body-secondary">Create an account</h6>
          {{ form | crispy }}
          <button class="btn btn-primary float-end" type="submit">Register</button>
          <a href="{% url 'home' %}" class="btn btn-secondary">Home</a>
          <a href="{% url 'login' %}" class="btn btn-secondary">Log in</a>
        </div>
      </div>
</form>

{% endblock content %}