{% extends "layouts/base.html" %}
{% load crispy_forms_tags %}
{% block title %}Register{% endblock title %}
{% load static %}


{% block content %}

<form class="mx-auto my-auto" enctype="multipart/form-data" action="" method="POST">
  {% csrf_token %}
    <div class="card mx-auto my-auto" style="width: 50rem;">
        <div class="card-body">
          <h3 class="card-title centered">Register</h3>
          <div class="centered">
            <img src="{% static "images/app/sign-concept-illustration.png" %}"
            alt="Error, no image found." style="max-width: 200px;">
          </div>
          <h6 class="centered card-subtitle mb-2 text-body-secondary">Create an account</h6>
            <div class="row">
              {% for field in form %}
                {% if not forloop.counter|divisibleby:2 %}
                <div class="fieldWrapper col-6">
                        {{ field.errors }}
                        {{ field|as_crispy_field }}
                </div>
                {% endif %}
              {% endfor %}
              {% for field in form %}
                {% if forloop.counter|divisibleby:2 %}
                <div class="fieldWrapper col-6">
                      {{ field.errors }}
                      {{ field|as_crispy_field }}
                </div>
                {% endif %}
              {% endfor %}
            </div>
            <button class="btn btn-primary float-end" type="submit">Register</button>
            <a href="{% url 'login' %}" class="btn btn-secondary">Log in</a>
        </div>
      </div>
</form>

{% endblock content %}

{% block script %}
<script src="{% static 'register.js' %}" type="module"></script>
{% endblock script %}