{% extends "layouts/base.html" %}
{% load crispy_forms_tags %}
{% block title %}Register{% endblock title %}

{% block content %}

<form action="" method="POST">
    <div class="card mx-auto" style="width: 30rem;">
        <div class="card-body">
          <h5 class="card-title">Register</h5>
          <h6 class="card-subtitle mb-2 text-body-secondary">Create an account</h6>
          {{ form | crispy }}
          <a href="#" class="card-link">Login</a>
          <a href="#" class="card-link">Home</a>
        </div>
      </div>
</form>

{% endblock content %}